html{
  background: #F4D35E;
  text-align: center;
  font-family: "Georgia", serif
}
h1 {
  background: #0D3B66;
  color: #FAF0CA;
  text-align: center
}
h3 {
  text-align: center;
  color: #0D3B66;
}
/*how to do blocks is from w3schools.com*/
ul{
  list-style: none;
  margin: 0;
  display: inline-block;
  padding:0;
  font-size: 24px;
}
li a {
  display: block;
  background: #f95738;
  color: #0D3B66;
  width: 400px;
  list-style-type: none;
  text-decoration: none;
}
li a:hover {
  Background: #ee964b;
  text-align: center;
}
